@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSansLight/OpenSansLight.eot');
    src: url('../fonts/OpenSansLight/OpenSansLight.eot') format('embedded-opentype'),
    url('../fonts/OpenSansLight/OpenSansLight.woff2') format('woff2'),
    url('../fonts/OpenSansLight/OpenSansLight.woff') format('woff'),
    url('../fonts/OpenSansLight/OpenSansLight.ttf') format('truetype'),
    url('../fonts/OpenSansLight/OpenSansLight.svg#OpenSansLight') format('svg');
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular/OpenSansRegular.eot') format('embedded-opentype'),
    url('../fonts/OpenSansRegular/OpenSansRegular.woff2') format('woff2'),
    url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'),
    url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype'),
    url('../fonts/OpenSansRegular/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold/OpenSansBold.eot') format('embedded-opentype'),
    url('../fonts/OpenSansBold/OpenSansBold.woff2') format('woff2'),
    url('../fonts/OpenSansBold/OpenSansBold.woff') format('woff'),
    url('../fonts/OpenSansBold/OpenSansBold.ttf') format('truetype'),
    url('../fonts/OpenSansBold/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSansSemibold/OpenSansSemibold.eot');
    src: url('../fonts/OpenSansSemibold/OpenSansSemibold.eot') format('embedded-opentype'),
    url('../fonts/OpenSansSemibold/OpenSansSemibold.woff2') format('woff2'),
    url('../fonts/OpenSansSemibold/OpenSansSemibold.woff') format('woff'),
    url('../fonts/OpenSansSemibold/OpenSansSemibold.ttf') format('truetype'),
    url('../fonts/OpenSansSemibold/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}
@font-face {
    font-family: 'AbrilFatfaceRegular';
    src: url('../fonts/AbrilFatfaceRegular/AbrilFatfaceRegular.eot');
    src: url('../fonts/AbrilFatfaceRegular/AbrilFatfaceRegular.eot') format('embedded-opentype'),
    url('../fonts/AbrilFatfaceRegular/AbrilFatfaceRegular.woff2') format('woff2'),
    url('../fonts/AbrilFatfaceRegular/AbrilFatfaceRegular.woff') format('woff'),
    url('../fonts/AbrilFatfaceRegular/AbrilFatfaceRegular.ttf') format('truetype'),
    url('../fonts/AbrilFatfaceRegular/AbrilFatfaceRegular.svg#AbrilFatfaceRegular') format('svg');
}